<%-layout('layout/boilerplate')%>
<div class="toplayer">
    <img src="image/logo.png" width="250">
    <br>
    <br>
    <h1 class="title">Manitora</h1>
    <br>
    <a href="/discussion"><button type="button" class="btn btnm btn-outline-warning">Discussion</button></a>
    <a href="/ask"><button type="button" class="btn btnm btn-outline-warning">Ask Query</button></a>
</div>


