<!-- <%-layout('layout/boilerplate')%>

<div class="toplayer" style="margin-top: 0.5cm;">
    <img src="image/logo.png" width="150">
    <h1>MANITora</h1>
</div>
<div class="card">
        <h1>Signup</h1>
        <form action="/" method="POST">
            <div class="form-group">
                <input type="email" class="form-control shadow-none" name="email" placeholder="Email" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control shadow-none" name=password placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control shadow-none" name="name" placeholder="Full Name" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control shadow-none" name="username" placeholder="username" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control shadow-none" name="College" placeholder="College" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control shadow-none" name="branch" placeholder="Branch" required="required">
            </div>

    
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-lg btn-block shadow-none submit">Sign Up</button>
                
          </div>
        </form>
</div> -->


<%-layout('layout/boilerplate')%>

<div class="toplayer" style="margin-top: 0.5cm;">
    <img src="image/logo.png" width="150">
    <br><br>
    <!-- <h1 class="title1">Manitora</h1> -->
    <div class="container-sm containerlogin">
        <h1 class="title1">Signup</h1>
        <br>
        <form form action="/" method="POST">
                <div class="mb-3">
                   <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
                 </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="name" placeholder="Full Name" required="required">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="college" placeholder="College Name" required="required">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" name="branch" placeholder="Branch" required="required">
                </div>
                <button type="submit" class="btn btnm btn-outline-primary" style="max-width:6cm;">Signup</button>
                
        </form>
    </div> 
</div> 

